
body {
	background: #4191d2;
}

#schedule-header, #form-header {
	background: #e57b1f;
	color: #000000;
}

#schedule-body, #form-body {
	background: #efb17b;
	color: #000000;
}
#train-schedule {
	background: #61d2f5;
}

.container {
	margin-top: 10px;
	max-width: 98%;
}

#intro{
	background: url("Winter-Train-Station.jpg");
	color: #000000;
}

#schedule-header, #form-header {
	font-weight: bold;
}